databases:
  - name: flashcard-db
    databaseName: flashcards
    user: flashcard_user
    plan: free

services:
  - type: web
    name: flashcard-flask
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: flashcard-db
          property: connectionString
